*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.layout-1{
    background-color: #e3e3e3;

}

.layout-2{
    background-color: #e3e3e3;

}

.layout-3{
    background-color: #e3e3e3;

}

.layout-1 #topHeader{
    background-color:red;
    float: none;

}

.layout-1 nav{
    background-color:blue;
    text-align: center;
    float: none;

}

.layout-1 section{
    background-color: purple;
    float: none;
    
}

.layout-1 #sectionHeader{
    background-color:yellow;
    float: left;
    width: 75%;
    
 }

.layout-1 article{
    background-color:orange;
    float: none;
    width: 75%;
}
.layout-1 aside{
    background-color:purple;
    float: right;
    width: 25%;
    padding-right:12px
    
    
}

.layout-1 aside a{
    background-color:white;
}

.layout-1 footer{
    text-align: center;
    float: none;
    width: 100%;
}

#topHeader2{
    background-color:red;
    float: none;
    padding: 12px;

}
.layout-2 nav{
    background-color:blue;
    float: left;
    text-align: center;
    width: 25%;
    

}

.layout-2 nav a{
    background-color:white;
    text-align: center;
    line-height: 12px;
    word-spacing: 50px;
    float: none;
    
}

#content{
    background-color:green;
    height:20px;
    text-align: center;
}

.article2{
    background-color:yellow;
    height:20px;
    text-align: center;
    
}

.aside-content{
    background-color:purple;
    height:20px;
    float: right;
    text-align: center;

}

.aside-info{
    background-color:aqua;
    margin: 4%;
    
}

.layout-2 img{
    background-color: aqua;
}

.layout-2 footer{
    float: none;
    text-align: center;
    
}

.layout-3 header{
    background-color:red;
    float: none;
    text-align: center;
    padding: 12px;
    margin: 2px;

}

#sectionHeader3{
    background-color:blue;
    text-align: center;
    width: 50%;
    
}

.layout-3 nav{
    background-color:yellow;
    float: left;
    width: 15%;


}

.layout-3 section{
    background-color:orange;
    float: none;
    text-align: center;
    

}

.layout-3 aside{
    background-color:purple;
    float: right;

}

#pageFooter{
    background-color:green;
    float: none;
    text-align: center;






